<h1><%= @question.question %></h1>

<form class="choice-form" action="/survey/<%= @question.survey.id %>/question/<%= @question.id %>/choice/create" method="post">
  <label><input class="choice-field" type="text" name="choice" required="required"></label>
  <input class="button" type="submit" value="Create Choice">
</form>

<h3>Question choices:</h3>

<ol type="a">
  <% @question.choices.each do |choice| %>
    <li><%= choice.choice %></li>
  <% end %>
</ol>

</table>

<form class="choice-submit" action="/survey/<%= @question.survey.id %>/create" method="get">
  <input class="button" type="submit" value="Done">
</form>

