<div class="profile">
  <h1><%= @email %></h1>

  <form action="/survey/create" method="post">
    <label><input type="text" name="title" placeholder="Title"required="required"></label>
    <input class="button" type="submit" value="Create Survey">
  </form>
  
  <h3>Authored Surveys:</h3>
  <table>
    <tr>
      <th>Title</th>
      <th>URL</th>
      <th>Stats</th>
    </tr>
  <% @authored_surveys.each do |survey| %>
    <tr>
      <td><a href=<%="/survey/#{survey.id}"%>><%=survey.title%></a></td>
      <td><a href=<%="/survey/#{survey.id}/secret_key"%>><%=survey.secret_key%></a></td>
      <td><a href=<%="/survey/#{survey.id}/results"%>>Stats</a></td>
    </tr>
  <% end %>
  </table>

  <h3>Taked Surveys:</h3>
  <table>
    <tr>
      <th>Title</th>
    </tr>
  <% @taken_surveys.each do |survey| %>
    <tr>
    <td><a href=<%="/survey/#{survey.id}/user"%>><%= survey.title %></a><td> <!-- survey.title -->
    </tr>
  <% end %>
  </table>
</div>

