<div class="container">
  <h1><%= @survey.title %></h1>
  <h3>Total Survey Takers : <%= @total_takers %></h3>
  <h3>Total Completed : <%= @total_completed %></h3>
  <h5><%= current_user.email %></h5>
  

  <form>
    <% @survey.questions.each do |question| %>
    <h4><%= question.question %></h4>
    <ul>
      <%question.choices.each do |choice| %>
      <li><%= choice.choice %> (<%= (choice.num_responses.to_f / question.total_responses) * 100 %>%)</li>
        <%end%>
     </ul>
    <%end%>
  </form>

  <form action="/user/profile" method="get">
    <input type="submit" value="Back to Profile">
  </form>

  <% if @survey.responses.empty? %>
    <a href="/survey/<%= @survey.id %>/edit">Edit This Survey</a>
  <% end %> 
</div>
