<div class="survey">
  <h1><%= @survey.title %></h1>
  <div id="instructions">
    <p>This survey belongs to you. You can delete it at any time via the 'delete' link at the bottom of the page. If no one has yet taken the survey you can edit its content but you cannot edit a survey that has logged responses.</p>
  </div>
  <form>
    <% @survey.questions.each do |question| %>
    <ul><%= question.question %>
        <%question.choices.each do |choice| %>
          <li><input type="radio" name=<%= question.id %> value=<%=choice.choice %> ><%=choice.choice %></input></li>
        <%end  %>
    </ul>
    <%end  %>
  </form>

  <form action="/user/profile" method="get">
    <input class="button" type="submit" value="Back to Profile">
  </form>
  <a href="/survey/<%= @survey.id %>/delete">Delete This Survey</a>
  <% if @survey.responses.empty? %>
    <a href="/survey/<%= @survey.id %>/edit">Edit This Survey</a>
  <% end %>
</div>
<!-- check edit_survey.erb for delete formatting -->
