<div class="container">
  <h1><%= @survey.title %></h1>
  <h5><%= current_user.email %></h5>

<form>
  <% @survey.questions.each do |question| %>
      <h4><%= question.question %></h4>
      <%question.choices.each do |choice| %>
        <input type="radio" name=<%= question.id %> value=<%=choice.choice %> ><%=choice.choice %></input><br>
        <%end  %>
  <%end  %>
</form>

  <form action="/user/profile" method="get">
    <input type="submit" value="Back to Profile">
  </form>
</div>
